*{
  margin: 1px;
}
html{
  background-color: rgb(49, 53, 53);
  background-size: cover;
}
body{
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
#container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 550ps;
  margin: auto;
  position: absolute;
}
.intro{
  font-family: cursive;
  font-size: medium;
  color: black;
  width: 50%;
  height: 400px;
  padding: 20px;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(red, green, blue, alpha), 0 6px 20px 0 rgba(red, green, blue, alpha);
  position: relative;
  border: 1px solid rgb(192, 202, 212)
}
h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline;
}
#form{
  color:aliceblue;
  width: 400px;
  height: 530px;
  padding: 10px;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border: 1px solid rgb(37, 33, 41);
  margin-left: 40%;
  margin-right: 5%;
}
